﻿<%@ Page Title="Home Page" Language="VB" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.vb" Inherits="CemsWeb2._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h1>En büyük Şıllık Erdem Orospusudur</h1>
        <p class="lead">|  Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | </p>
        <p><a href="https://cvaz042102test.azurewebsites.net/" class="btn btn-primary btn-lg">OROSPU &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>| Şıllık Erdem |</h2>
            <p>
               |  Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem |Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem |Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Orospu |
            </p>
            <p>
                <a class="btn btn-default" href="https://cvaz042102test.azurewebsites.net/"> Büyük Orospu  &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>| Şıllık Erdem |</h2>
            <p>
                | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem |Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem |Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Orospu |
            </p>
            <p>
                <a class="btn btn-default" href="https://cvaz042102test.azurewebsites.net/">Çok Büyük Orospu &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>| Şıllık Erdem |</h2>
            <p>
                | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem |Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem |Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Şıllık Erdem | Orospu |
            </p>
            <p>
                <a class="btn btn-default" href="https://cvaz042102test.azurewebsites.net/">En büyük Orospu &raquo;</a>
            </p>
        </div>
    </div>

</asp:Content>
